<section class="tracker charts">
    <div class="chart">
        <b>Type of Active Threads</b>
        <div class="chart--type chart--box"></div>
    </div>
    <div class="chart">
        <b>Partners in Active Threads</b>
        <div class="chart--partner chart--box"></div>
    </div>
    <div class="chart">
        <b>Status of Non-Archived Threads</b>
        <div class="chart--status-thread chart--box"></div>
    </div>
    <div class="chart">
        <b>Status of Non-Archived Comms</b>
        <div class="chart--status-comm chart--box"></div>
    </div>
    <div class="chart">
        <b>Last Reply in Active Threads (Owing)</b>
        <div class="chart--time-thread chart--box"></div>
    </div>
    <div class="chart">
        <b>Last Reply in Active Comms (Owing)</b>
        <div class="chart--time-comm chart--box"></div>
    </div>
    <div class="chart">
        <b>Last Reply in Active Threads (Waiting)</b>
        <div class="chart--time-thread-wait chart--box"></div>
    </div>
    <div class="chart">
        <b>Last Reply in Active Comms (Waiting)</b>
        <div class="chart--time-comm-wait chart--box"></div>
    </div>

    <script src="@@prefix/js/charts.js"></script>
    <script>
        //set overall variables
        let siteName = '@@sitename';

        //set class variables
        let $container = $('#tracker--rows');

        fetch(`https://opensheet.elk.sh/${threadSheet}/Threads`)
        .then((response) => response.json())
        .then((threadData) => {
            let siteThreads = threadData.filter(item => item.Site.toLowerCase().trim() === siteName.toLowerCase().trim());
            let threads = loadThreads(siteThreads);

            loadCharts(threads);
        });
    </script>
</section>